header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
}
.logo{
color: mediumaquamarine;
display: flex;
align-items: center;
flex-grow: 1;
}
.logo span {
  padding-left: 12px;
}
.headnav{
  display: flex;
}
.headnav span {
  display: inline-block;
  padding-right: 20px;
}
a{
  color: black;
}
/*                      Below Header                      */
.large{
  width: 630px;
  display: flex;
  flex-direction: column;
}

.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}
div{

}
.main{
  display: flex;
  position: relative;
  top: 60px;
}
